.gs-revealer {
	position: relative;
	&__el{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(252, 246, 82);
		pointer-events: none;
		opacity: 0;
		z-index: 99;
	}
	&__content{
		opacity: 0;
	}

}
