<header class="codrops-header">
	<div class="codrops-links">
		<svg class="decoshape" viewBox="0 0 200 100" width="100%" height="100%" preserveAspectRatio="none">
			<path d="M 10.45,74.41 C 39.4,110.8 72.59,67.27 95.98,68.68 122.3,70.35 131.5,101.4 154.7,99.69 177.9,98.03 200.5,79.26 198.1,47.17 195.9,15.27 174.6,-0.3279 151.8,0.9941 128.6,2.581 126,16.86 107,22.76 88.26,28.67 88.87,12.36 60.37,1.787 31.79,-8.877 -18.61,37.92 10.45,74.41 Z" />
		</svg>
		<a class="codrops-icon codrops-icon--prev" href="index.html" title="home"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
		<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=31190" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
	</div>
	<h1 class="codrops-header__title">GreenSock Workshop</h1>
</header>

<div class="deco deco--title">2017 Westland Exhibition Center</div>
